@page
@model Amazoon.Pages.PurchaseCompletedModel
@{
}
<div class="text-center">
    <h2>Order Received! Thank you for your purchase.</h2>
    <h4>Your order will ship soon.</h4>
    <a class="btn btn-primary" asp-controller="Home">Back</a>
</div>